# data
data/data.json
data/attempts.json
data/ai_config.json
data/uploads/
data/*.zip
*.zip

# venv
venv/

# python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# env / secrets
.env
.env.*

# misc
.DS_Store
Thumbs.db
